<!-- Header -->
<%- include('partials/_header') -%>
<!-- end of header -->
<body>
<div class="page-single-2">
	<div class="container">
		<div class="row">
			<div class="middle-content">
				<a href="/"><img class="md-logo" src="images/logo1.png" alt=""></a>
				<img src="" alt="">
				<h1>Internal Server Error</h1>
				<a href="/" class="redbtn">go home</a>
			</div>
		</div>
	</div>
</div>
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>
</html>